@import url(http://fonts.googleapis.com/css?family=Pompiere|Open+Sans);
@import url(jquery.jqTOC.css);
@import url(/layout.css);

body {
	color: #830;
	font-family: 'Pompiere', cursive;
	font-size: 1.8em;
	font-weight: bold;
	background-color: #ffe;
}

a {
	text-shadow: 0px 0px 5px #fff;
	text-decoration: none;
}
a:link{color:inherit;}
a:active{color:inherit;}
a:visited{color:inherit;}
a:hover {
	color: orangered;
}
